.beauty-every {
  padding: $spacer * 2 0;

  &__details-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.125rem;

    > li {
      &:not(:last-child) {
        margin-bottom: 9px;
      }
      > img {
        margin-right: $spacer * 0.5;
        width: 16px;
        height: 17px;
        object-fit: scale-down;
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding-top: 66px;
    padding-bottom: 19px;

    .section-title {
      margin-top: 48px;

      &__secondary {
        margin-bottom: 27px;
      }
      &::after {
        margin-bottom: 25px;
      }
    }
    .section-text {
      margin-bottom: 29px;
    }
  }
}
