.customize {
  padding-top: 25px;
  background-color: #f2f2f2;
  color: $dark-text;
  text-align: center;

  @include media-breakpoint-up(md) {
    padding-top: 35px;
    padding-bottom: 40px;
    .section-title-primary {
      margin-top: 92px;
    }
    .section-title-secondary {
      margin-bottom: 29px;
    }
    .section-hr {
      margin-bottom: 17px;
    }
  }
}
