.like-this {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $theme-color;
  color: white;
  font-size: 1.5rem;
  line-height: 1.3;

  .row {
    row-gap: 25px;
  }

  &__btn-container {
    column-gap: 20px;
  }

  @include media-breakpoint-up(md) {
    padding-top: 60px;
    padding-bottom: 59px;
    font-size: 2.26rem;
  }
}
