.page-footer {
  padding-top: 50px;
  padding-bottom: 24px;
  background-color: $theme-color;

  color: #444348;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;

  &__socials {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 22px;
    column-gap: 28px;
    font-size: 1.125rem;
    & > li {
      transition: color 0.2s ease-in-out;
      &:hover {
        color: $primary;
      }

      a {
        color: inherit;
      }
    }
  }
}
