.page-header {
  position: absolute;
  z-index: $zindex-sticky;
  top: 24px;
  left: 0;
  right: 0;
  transition: background-color 300ms ease, box-shadow 300ms ease;
  max-height: 100vh;
  overflow: auto;

  &_fixed {
    position: fixed;
    top: 0;
    background-color: $primary-dark;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    column-gap: 7px;
    text-transform: uppercase;

    &__name {
      font-family: 'Quicksand';
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
    }
    &__slogan {
      opacity: 0.3;
      font-size: 0.5625rem;
      line-height: 1.1;
      letter-spacing: 0.14em;
    }
  }
  .navbar-nav {
    align-items: center;
    column-gap: 23px;
    padding-bottom: 8px;
    font-weight: 600;
  }
  .navbar-toggler {
    margin: 11px 0;

    &__line-top,
    &__line-center,
    &__line-bottom {
      display: block;
      width: 22px;
      height: 2px;
      margin: 4px auto;
      border-radius: 1px;
      background-color: $white;
      transition: transform 300ms ease, opacity 300ms ease;
    }
    &:not(.collapsed) {
      .navbar-toggler__line-top {
        transform: translateY(6px) rotate(45deg);
      }
      .navbar-toggler__line-center {
        opacity: 0;
      }
      .navbar-toggler__line-bottom {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
  .nav-link {
    position: relative;
    padding: 11px 0;
    transition: color 300ms ease;

    &::after {
      @extend %section-hr-img;
      content: '';
      display: block;
      position: absolute;
      bottom: 1px;
      left: 50%;
      transform: translate(-50%);
      opacity: 0;
      transition: opacity 300ms ease;
    }
    &.active::after,
    &:hover::after {
      opacity: 1;
    }
  }
}
