.pricing {
  padding: $spacer * 2 0;
  text-align: center;

  @include media-breakpoint-up(md) {
    padding-top: 55px;
    padding-bottom: 19px;

    .section-title {
      &__secondary {
        margin-bottom: 30px;
      }
      &::after {
        margin-bottom: 70px;
      }
    }
  }
}

.pricing-swiper {
  padding-bottom: 40px;
}

.plan-item {
  padding-top: $spacer * 0.5;
  padding-bottom: $spacer * 1.5;
  border: thin solid $light-border;
  color: $light-text;

  &__name {
    margin-bottom: $spacer * 0.5;
    color: $dark-text;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__price-wrapper {
    padding: $spacer * 0.5 0;
    color: $dark-text;
    border-bottom: thin solid $light-border;
    border-top: thin solid $light-border;
  }
  &__price {
    margin-bottom: 0;
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 1;

    &::before {
      content: attr(data-currency);
      margin-left: -6px;
      vertical-align: super;
      font-size: 0.45em;
      font-weight: 600;
    }
  }
  &__period {
    margin: 0;
    color: $light-text;
    font-size: 1.125rem;
  }
  &__desc {
    margin: $spacer;
    font-size: 1.125rem;
    line-height: 1.45;
  }
  &__btn-order {
    text-transform: uppercase;
  }
  &__name,
  &__price-wrapper,
  &__period,
  &__btn-order {
    transition: color 300ms ease, background-color 300ms ease;
  }

  $p: &;
  &:hover {
    & #{$p}__name {
      color: $primary;
    }
    & #{$p}__price-wrapper {
      color: $white;
      background-color: $primary;
    }
    & #{$p}__period {
      color: $white;
    }
    & #{$p}__btn-order {
      @extend .btn-outline-primary-gray:hover;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 22px;
    padding-bottom: 29px;

    &__name {
      margin-bottom: 18px;
    }
    &__price-wrapper {
      padding-top: 32px;
      padding-bottom: 31px;
    }
    &__desc {
      margin: 45px 30px 40px 30px;
    }
  }
}
