@import 'app-variables';
@import 'app-fonts';

// bootstrap
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// custom mixins / override bootstrap mixins
@import 'app-mixins';

// bootstrap
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/utilities';

// swiper
@import '~swiper/swiper.scss';
@import '~swiper/modules/pagination/pagination.scss';
@import '~swiper/modules/effect-fade/effect-fade.scss';
@import '~swiper/modules/effect-flip/effect-flip.scss';

// font-awesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import 'section';
@import 'page-header';
@import 'page-footer';
@import 'intro';
@import 'features';
@import 'beauty-every';
@import 'customize';
@import 'reviews';
@import 'like-this';
@import 'pricing';
@import 'contacts';
@import 'map';

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  overflow-x: hidden;
}

.page-loader {
  z-index: $zindex-fixed;
  background-color: $primary-dark;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.btn-outline-light-gray {
  @include button-outline-variant(
    $white,
    $border-color: rgba(255, 255, 255, 0.2)
  );
}

.btn-outline-primary-gray {
  @include button-outline-variant($primary, $border-color: $light-border);
}

@include media-breakpoint-up(md) {
  .btn {
    min-width: 160px;
  }
}

.font-weight-600 {
  font-weight: 600 !important;
}
