<div class="beauty-every" id="beautyEvery">
    <div class="container-xl">
        <div class="row">
            <div class="col-12 col-md-6 pl-0 text-center">
                <img class="img-fluid" src="img/beauty-every.png" alt="beauty-every" width="510" height="621">
            </div>
            <div class="col-12 col-md-5 text-center text-md-left">
                <h3 class="section-title-primary">dip into the details</h3>
                <h2 class="section-title-secondary">Beautiful on every device</h2>
                <span class="section-hr"></span>
                <p class="section-text">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan
                    ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat
                    consequat auctor eu in elit.</p>
                <ul class="beauty-every__list">
                    <li><img src="img/beauty-1.png" alt="beauty-1" width="16" height="16">Awesome design</li>
                    <li><img src="img/beauty-2.png" alt="beauty-2" width="10" height="17">Fully responsive</li>
                    <li><img src="img/beauty-3.png" alt="beauty-3" width="11" height="17">Retina ready</li>
                    <li><img src="img/beauty-4.png" alt="beauty-4" width="16" height="15">Tons of features and easy
                        to use</li>
                </ul>
            </div>
        </div>
    </div>
</div>