<div class="beauty-every" id="beautyEvery">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                <div class="pr-0 pr-md-3">
                    <img class="img-fluid" src="img/beauty-every.png" alt="beauty-every" width="510" height="621">
                </div>
            </div>
            <div class="col-12 col-md-5 text-center text-md-left">
                <div class="section-title">
                    <h3 class="section-title__primary">dip into the details</h3>
                    <h2 class="section-title__secondary">Beautiful on every device</h2>
                </div>
                <p class="section-text">
                    Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan
                    ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non &nbsp;mauris vitae erat
                    consequat auctor eu in elit.
                </p>
                <ul class="beauty-every__details-list">
                    <li><img src="img/beauty/1.png" alt="beauty-1" width="16" height="16">Awesome design</li>
                    <li><img src="img/beauty/2.png" alt="beauty-2" width="10" height="17">Fully responsive</li>
                    <li><img src="img/beauty/3.png" alt="beauty-3" width="11" height="17">Retina ready</li>
                    <li><img src="img/beauty/4.png" alt="beauty-4" width="16" height="15">Tons of features and easy to
                        use</li>
                </ul>
            </div>
        </div>
    </div>
</div>