<div class="contacts" id="contants">
    <div class="container-xl">
        <h3 class="section-title-primary">stay in touch</h3>
        <h2 class="section-title-secondary">Contact us</h2>
        <span class="section-hr"></span>
        <div class="row overflow-hidden">
            <div class="col-12 col-sm-4 contact-item">
                <img class="contact-item__icon" src="img/contact-phone.png" alt="contact-phone" width="18" height="32">
                <ul class="list-unstyled ">
                    <li><a href="tel:(415)124-5678">Phone: (415) 124-5678</a></li>
                    <li><a href="tel:(412)123-8290">Fax: (412) 123-8290</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-4 contact-item">
                <a href="#" target="_blank">
                    <img class="contact-item__icon" src="img/contact-address.png" alt="contact-address" width="24"
                        height="32">
                    <p>1001 Brickell Bay Dr.<br>
                        Suite 1900<br>
                        Miami, FL 33131</p>
                </a>
            </div>
            <div class="col-12 col-sm-4 contact-item">
                <a href="#" target="_blank">
                    <img class="contact-item__icon" src="img/contact-email.png" alt="contact-phone" width="32"
                        height="22">
                    <p>support@yourname.com</p>
                </a>
            </div>
        </div>
    </div>

    <form class="form-feedback needs-validation" id="formFeedback" novalidate>
        <div class="form-row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <input class="form-control" type="text" id="name" placeholder="name *" required>
                    <div class="invalid-feedback">
                        Please fill out this field.
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" id="email" placeholder="email *" required>
                    <div class="invalid-feedback">
                        Please fill out this field.
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" id="subject" placeholder="subject *" required>
                    <div class="invalid-feedback">
                        Please fill out this field.
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-feedback__message-wrapper">
                    <textarea class="form-control" id="message" placeholder="message *" rows="5" required></textarea>
                    <div class="invalid-feedback">
                        Please fill out this field.
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center justify-content-md-end">
            <button class="btn btn-primary text-uppercase" type="submit">send message
            </button>
        </div>
    </form>
</div>