<div class="customize">
    <div class="container-xl">
        <div class="row">
            <div class="col-12 col-md-5 text-center text-md-left">
                <h3 class="section-title-primary">dip into the details</h3>
                <h2 class="section-title-secondary">Super easy to customize</h2>
                <span class="section-hr"></span>
                <p class="section-text">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan
                    ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat
                    consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                    inceptos himenaeos.</p>
            </div>
            <div class="col-12 col-md-7 px-0">
                <img class="img-fluid" src="img/customize.png" alt="customize" width="684" height="491">
            </div>
        </div>
    </div>
</div>