<div class="features" id="features">
    <div class="container">
        <div class="section-title">
            <h3 class="section-title__primary">product overview</h3>
            <h2 class="section-title__secondary">List of amazing features</h2>
        </div>
        <div class="swiper features-swiper">
            <div class="swiper-wrapper">
                <script locals>
                    module.exports = {
                        features:
                            [{
                                name: 'Responsive',
                                about: 'Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.',
                                icon: "responsive.png",
                                alt: "feature-responsive",
                            },
                            {
                                name: 'Customizable',
                                about: 'Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.',
                                icon: "customizable.png",
                                alt: "feature-customizable",
                            },
                            {
                                name: 'Lovely design',
                                about: 'Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.',
                                icon: "lovely-design.png",
                                alt: "feature-lovely-design",
                            },
                            {
                                name: 'Mobile Friendly',
                                about: 'Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.',
                                icon: "mobile-friendly.png",
                                alt: "feature-mobile-friendly",
                            }]
                    }
                </script>
                <each loop="feature in features">
                    <!-- feature slide start -->
                    <div class="swiper-slide feature-item">
                        <div class="feature-item__icon-wrapper">
                            <img src="img/features/{{feature.icon}}" alt="{{feature.alt}}" width="32" height="32">
                        </div>
                        <h4 class="feature-item__title">{{feature.name}}</h4>
                        <p class="feature-item__about">{{feature.about}}</p>
                    </div>
                    <!-- feature slide end -->
                </each>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>