<div class="intro" id="intro">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12 col-md-6 col-xl-5">
                <div class="text-center text-md-left">
                    <div class="section-title">
                        <h3 class="section-title__primary">introducing lucid theme</h3>
                        <h2 class="section-title__secondary">Carefully crafted and beautiful landing page.</h2>
                    </div>
                    <p class="section-text">
                        Etiam ullamcorper et turpis eget hendrerit. Praesent varius risus mi, at elementum magna
                        ultricies
                        accumsan. Cras venenatis lacus sed dolor placerat tempus. Morbi blandit at neque ut imperdiet.
                    </p>
                    <div class="intro__btn-container">
                        <a class="btn btn-primary text-uppercase" href="https://youtu.be/dQw4w9WgXcQ" target="_blank">download now</a>
                        <a class="btn btn-outline-light-gray text-uppercase" href="#features">view features</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-7 d-flex align-items-end justify-content-center justify-content-xl-end">
                <img class="img-fluid" src="img/intro.png" alt="intro" width="491" height="519">
            </div>
        </div>
    </div>
</div>