<div class="like-this">
    <div class="container-xl text-center text-md-left">
        <div class="row justify-content-between">
            <div class="col-md-8">
                <span class="font-weight-600">Like what you see? </span>
                <span class="font-weight-light">Get this great theme now!</span>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-center justify-content-md-end like-this__btn-container">
                    <a href="#features" class="btn btn-outline-light-gray text-uppercase">view features</a>
                    <a href="#" class="btn btn-primary text-uppercase">download now</a>
                </div>
            </div>
        </div>
    </div>
</div>