<div class="like-this">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-8">
                <span class="font-weight-600">Like what you see? </span>
                <span class="font-weight-light">Get this great theme now!</span>
            </div>
            <div class="col-12 col-xl-4">
                <div class="like-this__btn-container">
                    <a class="btn btn-outline-light-gray" href="#features">view features</a>
                    <a class="btn btn-primary" href="https://youtu.be/dQw4w9WgXcQ" target="_blank">download now</a>
                </div>
            </div>
        </div>
    </div>
</div>