<footer class="page-footer">
    <ul class="page-footer__social-list">
        <li><a href="#" target="_blank"><i class="fab fa-fw fa-behance"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-fw fa-dribbble"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-fw fa-twitter"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-fw fa-facebook-f"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-fw fa-linkedin-in"></i></a></li>
    </ul>
    <p class="text-uppercase">copyright © 2014 lucid onepage theme</p>
</footer>