<header class="page-header" id="pageHeader">
    <div class="header-navbar">
        <div class="header-navbar__wrapper">
            <div class="container-xl">
                <nav class="navbar navbar-expand-md navbar-dark">
                    <a class="navbar-brand" href="/">
                        <div class="navbar-brand-primary">Lucid</div>
                        <div class="navbar-brand-secondary">onepage<br>theme</span>
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                        data-target="#headerNav" aria-controls="headerNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="hamburger-line-1"></span>
                        <span class="hamburger-line-2"></span>
                        <span class="hamburger-line-3"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="headerNav">
                        <ul class="navbar-nav align-items-center font-weight-600">
                            <li class="nav-item">
                                <a class="nav-link active" href="#pageHeader">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#features">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#beautyEvery">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#reviews">Testimonials</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pricing">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contants">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container-xl">
        <div class="row no-gutters">
            <div class="col-12 col-md-6 col-xl-5 text-center text-md-left intro">
                <h3 class="section-title-primary">introducing lucid theme</h3>
                <h2 class="section-title-secondary">Carefully crafted and beautiful landing page.</h2>
                <p class="section-text">
                    Etiam ullamcorper et turpis eget hendrerit. Praesent varius risus mi, at elementum magna ultricies
                    accumsan. Cras venenatis lacus sed dolor placerat tempus. Morbi blandit at neque ut imperdiet.
                </p>
                <div class="d-flex justify-content-center justify-content-md-start intro__btn-container">
                    <a href="#" class="btn btn-primary text-uppercase">download now</a>
                    <a href="#features" class="btn btn-outline-light-gray text-uppercase">view features</a>
                </div>
            </div>
            <div class="offset-xl-2"></div>
            <div class="col-12 col-md-6 col-xl-5 d-flex justify-content-center justify-content-xl-end align-items-end">
                <img class="img-fluid" src="img/intro-device.png" alt="intro-device" width="491" height="519">
            </div>
        </div>
    </div>
</header>