<div class="pricing" id="pricing">
    <div class="container">
        <div class="section-title">
            <h3 class="section-title__primary">quality has its price</h3>
            <h2 class="section-title__secondary">Pricings & Plans</h2>
        </div>
        <div class="swiper pricing-swiper">
            <div class="swiper-wrapper">
                <script locals>
                    module.exports = {
                        currency: '$',
                        plans:
                            [{
                                name: 'Free',
                                price: '0',
                                desc: 'Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <span class="text-primary">lacinia</span> consectetur.',
                            },
                            {
                                name: 'Personal',
                                price: '25',
                                desc: 'Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <span class="text-primary">lacinia</span> consectetur.',
                            },
                            {
                                name: 'Business',
                                price: '50',
                                desc: 'Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <span class="text-primary">lacinia</span> consectetur.',
                            },
                            {
                                name: 'Ultimate',
                                price: '99',
                                desc: 'Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <span class="text-primary">lacinia</span> consectetur.',
                            }]
                    }
                </script>
                <each loop="plan in plans">
                    <!-- plan slide start -->
                    <div class="swiper-slide plan-item">
                        <h4 class="plan-item__name">{{plan.name}}</h4>
                        <div class="plan-item__price-wrapper">
                            <p class="plan-item__price" data-currency={{currency}}>{{plan.price}}</p>
                            <p class="plan-item__period">/per month</p>
                        </div>
                        <p class="plan-item__desc">{{{plan.desc}}}</p>
                        <button class="btn btn-outline-primary-gray plan-item__btn-order">ORDER NOW</button>
                    </div>
                    <!-- plan slide end -->
                </each>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>