<div class="reviews" id="reviews">
    <div class="container">
        <div class="section-title">
            <h2 class="section-title__primary">quality has its price</h2>
            <h3 class="section-title__secondary">Pricings & Plans</h3>
        </div>
        <div class="swiper reviews-swiper">
            <div class="swiper-wrapper">
                <script locals>
                    module.exports = {
                        reviews:
                            [{
                                text: `Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.`,
                                avatar: 'john.png',
                                name: 'John Doe',
                                prof: 'CEO, THE RIVERS COMPANY',
                            },
                            {
                                text: `A shoe is not only a design, but it's a part of your body language, the way you walk. The way you're going to move is quite dictated by your shoes.`,
                                avatar: 'dean.png',
                                name: 'Dean Winchester',
                                prof: 'UX DESIGNER, GOOGLE INC.'
                            },
                            {
                                text: `Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.`,
                                avatar: 'john.png',
                                name: 'John Doe',
                                prof: 'CEO, THE RIVERS COMPANY',
                            },
                            {
                                text: `A shoe is not only a design, but it's a part of your body language, the way you walk. The way you're going to move is quite dictated by your shoes.`,
                                avatar: 'dean.png',
                                name: 'Dean Winchester',
                                prof: 'UX DESIGNER, GOOGLE INC.'
                            }]
                    }
                </script>
                <each loop="review in reviews">
                    <!-- review slide start-->
                    <div class="swiper-slide review-item">
                        <blockquote class="review-item__text">{{review.text}}</blockquote>
                        <div class="d-flex align-items-center">
                            <img class="review-item__avatar" src="img/avatars/{{review.avatar}}" alt="avatar">
                            <div>
                                <p class="review-item__name">{{review.name}}</p>
                                <p class="review-item__prof">{{review.prof}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- review slide end -->
                </each>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>